body {
background-color: yellow;
}
h1 {
  color: red;
}

hr {
  background-color: yellow;
  border-color: green;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 100%
}
